NS_lane_length = 30		#the length of the north and south lanes
WE_lane_length = 40		#the length of the west and east lanes	
new_vehicle_prob = 0.5	#the probability that a new vehicle will enter the system on each clock tick
car_prob = 0.4			#the probability that a new vehicle will be a car
SUV_prob = 0.4			#the probability that a new vehicle will be a SUV
truck_prob = 0.2		#the probability that a new vehicle will be a truck
southbound_prob = 0.25  #the probability that a new vehicle will enter on the southbound lane - NS
northbound_prob = 0.25  #the probability that a new vehicle will enter on the northbound lane - SN
westbound_prob = 0.25	#the probability that a new vehicle will enter on the westbound lane - EW
eastbound_prob = 0.25	#the probability that new vehicle will enter on the eastbound lane - WE
time_green = 8			#number of cycles for a green light
time_yellow = 5			#number of cycles for a yellow light

num_iterations = 100	#the number of cycles to complete

print_info = true		#true = info on the traffic lights and any new vehicles will be printed on each cycle, false = no info printed
single_step = true		#true = need to press enter between each cycle to continute the simulation, false = will simulate all cycles at once